.footer-contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-background-color;
}

.footer-contact__container {
    display: flex;



    //phone
    @media screen and(max-width:767px) {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }


    //tablet
        @media screen and(min-width:768px) and(max-width:1199px) {
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-around;
        }


    //destop
    @media screen and(min-width:1200px) {
        align-items: baseline;

    }
}

.footer-contact__address-container {

    //phone
    @media screen and(max-width:767px) {
        text-align: center;
    }



    //desctop

    @media screen and (min-width:1199px) {
        margin-right: 70px;
    }

}

.footer-contact__logo {

    margin-bottom: 20px;


    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;

    color: $logo-footer-second-part-text-color;

    //phone
    @media screen and(max-width:767px) {

        display: inline-block;
    }

    // tablet and desctop
    @media screen and (min-width:768px) {
        display: block;
        

    }
         @media screen and (min-width:1199px) {
            display: flex;
            text-align: center;
    
         }
}

.footer-contact__logo-first-part {
    color: $logo-first-part-text-color;
}

.footer-contact__address {
    font-style: normal;
    width: 231px;
}


.footer-contact__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.footer-contact__map {
    line-height: 1.71;

    color: $white-color;

    transition: color $cubic-mooving-speed-color;

    &:hover,
    &:focus {
        color: $focus-color;
    }
}

.footer-contact__mail,
.footer-contact__tel {
    line-height: 1.71;

    color: $contacts-footer-text-color;

    transition: color $cubic-mooving-speed-color;

    &:hover,
    &:focus {
        color: $focus-color;
    }
}


.follow__name {

    margin-bottom: 20px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    color: $white-color;

    @media screen and(max-width:767px) {
        display: block;
        text-align: center;

    }

    @media screen and (min-width:768px) {
        display: flex;

    }
}

.follow__list {
    
    //phone
    @media screen and(max-width:767px) {
        column-gap: 10px;
        display: flex;
        justify-content: center;
    }

    //
    @media screen and(min-width:768px) {
        column-gap: 10px;
        display: flex;
    }


}


.follow__link {
    display: flex;
    justify-content: center;
    align-items: center;


    width: 44px;
    height: 44px;

    border: 1px solid transparent;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);


    transition: background-color $cubic-mooving-speed-color;

    &:focus,
    &:hover {
        background-color: $focus-color;
    }
}

.follow__img {
    display: flex;

    width: 20px;
    height: 20px;

    fill: $white-color;
}

.footer__registration-block {
    display: flex;

    //phone
    @media screen and(max-width:767px) {
        flex-direction: column;
        align-items: center;
    }

    //tablet
        @media screen and(min-width:768px) {
            margin-top: 60px;
        }


    //desctop
    @media screen and(min-width:1200px) {
        margin-left: 93px;
        margin-top: 0px;
    }

}

.footer__registration-form-text {
    display: block;

    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-align: center;

    text-transform: uppercase;

    color: $white-color;
}

.footer__block {
    
    //phone
    @media screen and(max-width:767px) {
        display: flex;
            flex-wrap: wrap;
            align-items: center;
        justify-content: center;

        gap: 20px;
    }

         @media screen and(min-width:767px) {
            display: block;
             justify-content: center;
    
             gap: 20px;
         }

    //desctop
    @media screen and(min-width:1199px) {
        display: flex;
        align-items: center;
        gap: 10px;

    }
}

.footer__label {
    display: flex;
}

.footer__input {
    display: block;
    width: 358px;
    height: 50px;

    padding: 15px 16px;

    position: relative;
    background-color: transparent;

    outline: transparent;


    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-family: $main-font-family;
        font-style: normal;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;


        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and(min-width:767px) {
        width: 480px;
        margin-bottom: 20px;
    }

         @media screen and(min-width:1199px) {
             width: 358px;
             margin-bottom: 0px;
         }
}

.footer__submit-btn {
    display: flex;
    padding: 10px 28px;


    font-family: $main-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;


    align-items: center;
    justify-content: center;


    text-align: center;
    letter-spacing: 0.06em;

    color: $white-color;

    background: $focus-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;

    cursor: pointer;


    @media screen and(min-width:767px) and(max-width:1199px) {
        margin-left: auto;
        margin-right: auto;
        }
}

.footer__registration-icon {
    fill: $white-color;
    margin-left: 10px;
}