
.projects__portfolio-list {

    //phone
    @media screen and (max-width:479px) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 15px;
        width: 100%;
    }
        @media screen and (min-width:480px){
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

}

.projects__portfolio-item{
    //phone
    display: flex;
    width: 100%;

    //tablet
    @media screen and(min-width:767px) {
        flex-basis: calc((100% - (30px * (2 - 1))) / 2);
    }


    //desctop
        @media screen and(min-width:1199px) {
            flex-basis: calc((100% - (30px * (3 - 1))) / 3);
}
}

.projects__portfolio-link {
    text-decoration: none;
    flex-direction: column;
    display: flex;
    
    transition: transform $cubic-mooving-speed-color;
    }

.projects__portfolio-link:hover .mooving-part,
.projects__portfolio-link:focus .mooving-part {
    transform: translateY(0%);
    cursor: pointer;

}
.projects__portfolio-slide {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.mooving-part {
    display: flex;
        justify-content: center;
        align-items: center;
        padding: 63px 24px;
    
    
        position: absolute;
        width: 100%;
        height: 100%;
    
        top: 0;
        left: 0;
    
    
        transform: translateY(101%);
        transition: transform $cubic-mooving-speed-color;
    
        background-color: rgba(33, 150, 243, 0.9);
    
    }

.mooving-part__subtitle {
    font-size: 18px;
        line-height: 1.56;
    
        color: $white-color;
    }


.border {
    padding: 20px 24px;
    flex-grow: 1;
    
    
        border-right: 1px solid $border-color-portfolio;
        border-bottom: 1px solid $border-color-portfolio;
        border-left: 1px solid $border-color-portfolio;
    }

.projects__portfolio-title {
    margin-bottom: 4px;
    
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    
    
        letter-spacing: 0.06em;
    
        color: $h-bold-text-color;
}

.projects__portfolio-desc {
    font-size: 16px;
        line-height: 1.88;
        color: $main-text-color;
}



